{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Science Workflow Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'scripts.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'table.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>